################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/rpp22-hluksic20-dkajzogaj20-nmidzic20/v17/.suo
